In [1]:
!ls *.csv

2227540.csv

In [2]:
!head 2227540.csv

STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,HPCP,Measurement Flag,Quality Flag
COOP:396937,RAPID CITY REGIONAL AIRPORT SD US,963.8,44.05,-103.06667,19720101 01:00,0.00,g,
COOP:396937,RAPID CITY REGIONAL AIRPORT SD US,963.8,44.05,-103.06667,19720102 11:00,0.01, ,
COOP:396937,RAPID CITY REGIONAL AIRPORT SD US,963.8,44.05,-103.06667,19720109 20:00,0.01, ,
COOP:396937,RAPID CITY REGIONAL AIRPORT SD US,963.8,44.05,-103.06667,19720110 03:00,0.01, ,
COOP:396937,RAPID CITY REGIONAL AIRPORT SD US,963.8,44.05,-103.06667,19720112 01:00,0.03, ,
COOP:396937,RAPID CITY REGIONAL AIRPORT SD US,963.8,44.05,-103.06667,19720112 11:00,0.01, ,
COOP:396937,RAPID CITY REGIONAL AIRPORT SD US,963.8,44.05,-103.06667,19720115 09:00,0.01, ,
COOP:396937,RAPID CITY REGIONAL AIRPORT SD US,963.8,44.05,-103.06667,19720120 09:00,0.01, ,
COOP:396937,RAPID CITY REGIONAL AIRPORT SD US,963.8,44.05,-103.06667,19720123 14:00,0.01, ,

In [3]:
import pandas
df = pandas.read_csv('2227540.csv')

In [4]:
df.head

<bound method NDFrame.head of          STATION                       STATION_NAME  ELEVATION  LATITUDE  \
0    COOP:396937  RAPID CITY REGIONAL AIRPORT SD US      963.8     44.05
1    COOP:396937  RAPID CITY REGIONAL AIRPORT SD US      963.8     44.05
2    COOP:396937  RAPID CITY REGIONAL AIRPORT SD US      963.8     44.05
3    COOP:396937  RAPID CITY REGIONAL AIRPORT SD US      963.8     44.05
4    COOP:396937  RAPID CITY REGIONAL AIRPORT SD US      963.8     44.05
..           ...                                ...        ...       ...
383  COOP:396937  RAPID CITY REGIONAL AIRPORT SD US      963.8     44.05
384  COOP:396937  RAPID CITY REGIONAL AIRPORT SD US      963.8     44.05
385  COOP:396937  RAPID CITY REGIONAL AIRPORT SD US      963.8     44.05
386  COOP:396937  RAPID CITY REGIONAL AIRPORT SD US      963.8     44.05
387  COOP:396937  RAPID CITY REGIONAL AIRPORT SD US      963.8     44.05

     LONGITUDE            DATE  HPCP Measurement Flag Quality Flag
0   -103.06667  19720101 01:00  0.00                g
1   -103.06667  19720102 11:00  0.01
2   -103.06667  19720109 20:00  0.01
3   -103.06667  19720110 03:00  0.01
4   -103.06667  19720112 01:00  0.03
..         ...             ...   ...              ...          ...
383 -103.06667  19721229 22:00  0.01
384 -103.06667  19721230 01:00  0.01
385 -103.06667  19721230 19:00  0.01
386 -103.06667  19721230 20:00  0.01
387 -103.06667  19730101 01:00  0.00                g

[388 rows x 9 columns]>

In [5]:
ndf=df['HPCP']

In [6]:
df

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,HPCP,Measurement Flag,Quality Flag
0,COOP:396937,RAPID CITY REGIONAL AIRPORT SD US,963.8,44.05,-103.06667,19720101 01:00,0.00,g,
1,COOP:396937,RAPID CITY REGIONAL AIRPORT SD US,963.8,44.05,-103.06667,19720102 11:00,0.01,,
2,COOP:396937,RAPID CITY REGIONAL AIRPORT SD US,963.8,44.05,-103.06667,19720109 20:00,0.01,,
3,COOP:396937,RAPID CITY REGIONAL AIRPORT SD US,963.8,44.05,-103.06667,19720110 03:00,0.01,,
4,COOP:396937,RAPID CITY REGIONAL AIRPORT SD US,963.8,44.05,-103.06667,19720112 01:00,0.03,,
...,...,...,...,...,...,...,...,...,...
383,COOP:396937,RAPID CITY REGIONAL AIRPORT SD US,963.8,44.05,-103.06667,19721229 22:00,0.01,,
384,COOP:396937,RAPID CITY REGIONAL AIRPORT SD US,963.8,44.05,-103.06667,19721230 01:00,0.01,,
385,COOP:396937,RAPID CITY REGIONAL AIRPORT SD US,963.8,44.05,-103.06667,19721230 19:00,0.01,,
386,COOP:396937,RAPID CITY REGIONAL AIRPORT SD US,963.8,44.05,-103.06667,19721230 20:00,0.01,,
387,COOP:396937,RAPID CITY REGIONAL AIRPORT SD US,963.8,44.05,-103.06667,19730101 01:00,0.00,g,

In [7]:
for col in df.columns: 
    print(col)

STATION
STATION_NAME
ELEVATION
LATITUDE
LONGITUDE
DATE
HPCP
Measurement Flag
Quality Flag

In [8]:
ndf

0      0.00
1      0.01
2      0.01
3      0.01
4      0.03
       ...
383    0.01
384    0.01
385    0.01
386    0.01
387    0.00
Name: HPCP, Length: 388, dtype: float64

In [10]:
ndf=df[['DATE','HPCP']]

In [11]:
ndf

               DATE  HPCP
0    19720101 01:00  0.00
1    19720102 11:00  0.01
2    19720109 20:00  0.01
3    19720110 03:00  0.01
4    19720112 01:00  0.03
..              ...   ...
383  19721229 22:00  0.01
384  19721230 01:00  0.01
385  19721230 19:00  0.01
386  19721230 20:00  0.01
387  19730101 01:00  0.00

[388 rows x 2 columns]

In [12]:
ndf.types

AttributeError: 'DataFrame' object has no attribute 'types'

In [13]:
start_date = '06-01-1972'
end_date = '06-15-1972'

#next, set the mask -- we can then apply this to the df to filter it

mask = (ndf['DATE'] > start_date) & (ndf['DATE'] <= end_date)

df3 = ndf.loc[mask]

In [14]:
df3

Empty DataFrame
Columns: [DATE, HPCP]
Index: []

In [15]:
ndf.dtypes

DATE     object
HPCP    float64
dtype: object

In [18]:
ndf['DATE']= pandas.to_datetime(ndf['DATE'])

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
ndf.dtypes

DATE    datetime64[ns]
HPCP           float64
dtype: object

In [20]:
start_date = '06-01-1972'
end_date = '06-15-1972'

#next, set the mask -- we can then apply this to the df to filter it

mask = (ndf['DATE'] > start_date) & (ndf['DATE'] <= end_date)

df3 = ndf.loc[mask]

In [21]:
df3

                   DATE  HPCP
193 1972-06-01 01:00:00  0.00
194 1972-06-02 04:00:00  0.01
195 1972-06-03 03:00:00  0.05
196 1972-06-03 04:00:00  0.01
197 1972-06-09 22:00:00  0.61
198 1972-06-09 23:00:00  1.16
199 1972-06-10 00:00:00  0.31
200 1972-06-10 01:00:00  0.13
201 1972-06-10 02:00:00  0.09
202 1972-06-10 03:00:00  0.02
203 1972-06-14 14:00:00  0.03